body {
  /* Maybe have this change depending on the season? Make it class-based? */
  /* background: #242641; */
  background: #fff;
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-width: 365px;
}

h2 {
  color: #df7861;
}

#heading h1,
#heading h2 {
  margin: 0;
  display: block;
}

#heading {
  position: relative;
  width: 100%;
  max-width: 540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 10px;
  /* background-color: #df7861; */
  border-radius: 10px;
}

#mainlist {
  display: flex;
  justify-content: center;
}

#newTaskInput {
  background: transparent;
  border: none;
  padding: 5px;
}

.badge-container {
  margin-bottom: 5px;
}

.editButton {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  margin-right: 10px;
}

.hiddenButton {
  visibility: hidden;
}

/* label {
  color: #e4e7e7;
} */

.task {
  display: flex;
  margin: 5px;
  padding: 10px 0;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}

.task:hover .editButton {
  opacity: 1;
}

/* .task.high {
  /* background-color: #c32605; */
/* border-style: none none solid solid;
  border-color: #c32605; */
/* }

.task.med { */
/* border-style: none none solid solid;
  border-color: #fabc59; */
/* } */

/* .task.low { */
/* border-style: none none solid solid;
  border-color: #47af78; */
/* } */

/* .accessibility {
  high: #c44601;
  med: #f57600;
  low: #8babf1;
} */

.content {
  flex: 1;
}

.checked {
  text-decoration: line-through;
}

::selection {
  background: #f6e547;
}
